{% extends 'base.html' %}
{% block content %}
<p>Welcome to my personal website! Check out the latest blog/project below, or browse the site in whichever order you want.</p>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3><strong><a href="{% url 'blog_post' latest_blog.slug %}">{{ latest_blog.title }}</a></strong></h3>
        <p>{{ latest_blog.date }}</p>
        <p>{{ latest_blog.description }}</p>
        <hr />
        <p>{{ latest_blog.body|safe|slice:":300" }}
            {% if latest_blog.body|safe|length > 300 %}... <a href="{% url 'blog_post' latest_blog.slug %}"><em>(read more)</em></a>{% endif %}
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3><strong><a href="{% url 'single-project' latest_project.slug %}">{{ latest_project.title }}</a></strong></h3>
        <p>{{ latest_project.date }}</p>
        <p>{{ latest_project.short_description }}</p>
        <hr />
        {{ latest_project.long_description|safe|slice:":300" }}
            {% if latest_project.long_description|safe|length > 300 %}... <a href="{% url 'single-project' latest_project.slug %}"><em>(read more)</em></a>{% endif %}
        </p>
    </div>
</div>

{% endblock content %}